/* latin-ext */
@font-face {
	font-family: 'Oxygen';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://files.moeglich.dev/fonts/oxygen_latinext.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
		U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Oxygen';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://files.moeglich.dev/fonts/oxygen_latin.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
		U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
	background-color: white;
	margin: 0;
	font-family: 'Oxygen', sans-serif;
	min-height: 100vh;
	color: #333;
}

:root {
	--block-width: min(1000px, calc(100vw - 70px));
	--top_bar_size: max(min(230px - 11vw, 180px), 100px);
}

.showcase_size {
	min-height: calc(100vh - var(--top_bar_size) - 38px);
	height: 870px;
}

@media screen and (max-width: 700px) {
	.showcase_size {
		height: 900px
	}
}

@media screen and (max-width: 500px) {
	.showcase_size {
		height: 1000px
	}
}

@media screen and (max-width: 400px) {
	.showcase_size {
		height: 1100px
	}
}

@media screen and (max-width: 300px) {
	.showcase_size {
		height: 1300px
	}
}


$gradient-safezone: 5px;

.gradient_text {
	background: linear-gradient(to right, rgb(0, 15, 245) 0%, rgb(0, 150, 255) 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	padding-bottom: $gradient-safezone;
}

.color_text {
	background: linear-gradient(
		142deg,
		rgb(253, 122, 29) 0%,
		rgb(253, 29, 29) 21%,
		rgb(194, 64, 159) 51%,
		rgb(106, 92, 186) 77%,
		rgb(29, 162, 253) 100%
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	padding-bottom: $gradient-safezone;
}

.text_block {
	max-width: min(85%, 1000px);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@extend .gradient_text;
	}
	h2 {
		font-size: 20px;
	}
	p {
		line-height: 150%;
	}
}

$bottom_margin: 0.5rem;

$light-blue: #0072c9;
$gray: #4a4a4a;

h1,
h2.large,
h3.large {
	font-size: 1.75rem;
	font-weight: bold;
	margin-bottom: calc($bottom_margin - $gradient-safezone);
	margin-top: 0.5rem;
}

h2 {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: calc($bottom_margin - $gradient-safezone);
	margin-top: 0.5rem;
}

h3 {
	font-size: 1.25rem;
	font-weight: bold;
	margin-bottom: calc($bottom_margin - $gradient-safezone);
	margin-top: 0.5rem;
}

h4 {
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: calc($bottom_margin - $gradient-safezone);
	margin-top: 0.5rem;
}

h1:not(.no_gradient):not(.gray):not(.light):not(.marked),
h2:not(.no_gradient):not(.gray):not(.light):not(.marked),
h3:not(.no_gradient):not(.gray):not(.light):not(.marked),
h4:not(.no_gradient):not(.gray):not(.light):not(.marked) {
	@extend .gradient_text;
}

h1.gray,
h2.gray,
h3.gray,
h4.gray {
	color: $gray;
}

h1.light,
h2.light,
h3.light,
h4.light {
	color: $light-blue;
}

p.marked,
b.marked,
h1.marked,
h2.marked,
h3.marked,
h4.marked {
	color: red;
}

mark {
	background-color: transparent;
	color: rgb(255, 47, 47);
	font-weight: bold;
}

.nowrap {
	white-space: nowrap;
}

.center {
	text-align: center;
}

.shadow-sm {
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.shadow-md {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.shadow-lg {
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}
