@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

body {
	background-color: white;
	margin: 0;
	font-family: 'Oxygen', sans-serif;
	min-height: 100vh;
	color: #333;
	border: rgb(207, 207, 207) 1px solid;
}

.gradient_text {
	background: linear-gradient(to right, rgb(0, 15, 245) 0%, rgb(0, 150, 255) 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	padding-bottom: 5px;
}

.text_block {
	max-width: min(85%, 1000px);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@extend .gradient_text;
	}
	h2 {
		font-size: 20px;
	}
	p {
		line-height: 150%;
	}
}

mark {
	background-color: transparent;
	color: rgb(255, 47, 47);
	font-weight: bold;
}
